<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @arduino.ip %>
</p>

<p>
  <strong>Comando:</strong>
  <%= @arduino.comando_id %>
</p>

<%= link_to 'Edit', edit_arduino_path(@arduino) %> |
<%= link_to 'Back', arduinos_path %>
</br>
<a href="192.168.25.1">GVT</a>
<%= link_to 'Home', "http://"+@arduino.ip %>