<!DOCTYPE html>
<html>
  <head>
    <title>VotaPrato</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= yield :css %>
  </head>

  <body>
    <%= menu_principal %w(restaurantes clientes qualificacoes) %>
    <%= yield %>
  </body>
</html>
